*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../multimedia/subtle-prism-_2_.webp);
    min-height: 100vh;
    position: relative;
}
nav{
    background-color: aliceblue;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 10px;
}
 ul{
   list-style-type: none;
  
  
 }
 li{
    display: inline;
    padding: 25px;
    font-size: 25px;
    margin-left: 200px;
    color: blue;
 }
img{
    height: 350px;
    width: 75%;
    margin-left: 200px;
    margin-top: 15px;
}

div{
    margin-left: 250px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 25px;
    color: rgb(33, 22, 7);
    padding-left: 360px;
}
#tcc{
    padding-left: 300px;
}
section{
    background-color: aquamarine;
    height: 50px;
    width: 150px;
    margin-bottom: 15px;
    margin-left: 650px;
    margin-top: 25px;
    padding-top: 25px;
    padding-left: 15px;

}
a{
   
    text-decoration: none;
    padding: 25px;
    font-size: 25px;
    color: rgb(17, 23, 50);
}